.header__link {
    font-size: 15px;
    text-decoration: none;
    color: black;
    background: rgb(245, 241, 241);
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.register-form {
    margin: 50px auto;
    width: 60%;
    background: white;
    border: 1px solid rgb(208, 204, 204);
    border-radius: 5px;
    text-align: center;
}

.register-form__logo {
    text-align: center;
}

.register-form__group {
    width: 100%;

}

.register-form__label {
    display: block;

}

.register-form__input {
    width: 90%;
    height: 40px;
    border: 1px solid rgb(208, 204, 204);
    border-radius: 5px;
}

.register-form__btn {
    margin-bottom: 20px;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.register-form__btn:hover{
box-shadow: 0px 5px #353535;
}
.register-form__btn:active {
    box-shadow: 0 0;
    transform: translate(5px, 5px);
}
.register-form__error-message{
    color: red;
}